<header>
    <div class="container-fluid">
            <div class="row">
                <div class="col">
                    <nav class="nav">
                        <icon class="icon" style="font-size: 20px;">Banking System</icon>
                        <a href="/" class="nav-link" id="id-nav">Home</a>
                        <a href="/about" class="nav-link" id="id-nav">About Us</a>
                        <a href="/contact" class="nav-link" id="id-nav">Contact</a>
                        <a href="/add/employee" class="nav-link" id="id-nav">Add Emp Data</a>
                        <a href="/add/customer" class="nav-link" id="id-nav">Add Cus Data</a>
                        <a href="/add/branch" class="nav-link" id="id-nav">Add Bra Data</a>
                        <a href="/employee/display" class="nav-link" id="id-nav">Disp Emp</a>
                        <a href="/customer/display" class="nav-link" id="id-nav">Disp Cus</a>
                        <a href="/branch/display" class="nav-link" id="id-nav">Disp Bran</a>
                    </nav>
                </div>
            </div>
    </div>
</header>